<nav class="layout-navbar navbar txt sticky-top mb-4" data-controller="notify">
  <!-- 品牌 logo -->
  <div class="col-1">
    <a href="/" class="navbar-brand">  
      <%= image_pack_tag "logo.png", class: "img-fluid" %>
    </a>
  </div>
  
  <div class="d-flex align-items-center mr-auto">
    <!-- 書搜尋頁 -->
      <%= link_to "Books", books_path, class: "nav-item mx-2" %>

    <% if user_signed_in?  %>
    <!-- 個人書櫃 -->
      <%= link_to "Library", users_library_path, class: "nav-item mx-2" %>

    <!-- 寫書 -->
      <%= link_to "Create a Book", new_book_path, class: "nav-item mx-2" %>
        
    <!-- 寫過的書 -->
      <% if current_user.pub_books.count > 0 %>
        <%= link_to "My Writings", users_books_path, class: "nav-item mx-2" %>
      <% end %>  
    <% end %>
  </div>

  <!-- Search Filter -->
  <div class="search-filter d-flex flex-nowrap ml-auto mr-3" data-controller="search">
    <select name="" id="search-selector" class="btn txt" data-target="search.select">
      <option value="book-search">搜尋書名</option>
      <option value="author-search">搜尋作者</option>
      <option value="tag-search">搜尋標籤</option>
    </select>
		<div class="row search-bar">

			<!-- book search 表單 -->
			<%= form_with url: books_path, method: :get, class: "nav-search x form-inline d-flex ml-4", local: true, data: {target: "search.book_search"} do |f| %>
				<%= f.search_field :book_search, class: "search-input book-search-input form-control", placeholder: "Search" %>
        <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
          <i class="fas fa-search icon"></i>
        <% end %>
			<% end %>

			<!-- author search 表單 -->
			<%= form_with url: books_path, method: :get, class: "nav-search author-search x form-inline d-flex ml-4", local: true, data: {target: "search.author_search"} do |f| %>
				<%= f.search_field :author_search, class: "search-input author-search-input form-control", placeholder: "Search" %>
        <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
          <i class="fas fa-search icon"></i>
        <% end %>
			<% end %>

			<!-- tag search 表單 -->
			<%= form_with url: books_path, method: :get, class: "nav-search tag-search x form-inline d-flex ml-4", local: true, data: {target: "search.tag_search"} do |f| %>
				<%= f.search_field :tag_search, class: "search-input tag-search-input form-control", placeholder: "Search" %>
        <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
          <i class="fas fa-search icon"></i>
        <% end %>
			<% end %>
		</div>
  </div>
  
  <div class="icon-group d-flex align-items-center">
      <!-- 購物車 -->
      <%= link_to cart_path, class:"nav-icon" do%>
        <i class="fas fa-shopping-cart mx-2">
          <div class="x"></div>
        </i>
      <% end %>

      <% if user_signed_in? %>
        <!-- 願望清單 -->
        <div class="nav-icon" data-controller="wish" data-wish-username="<%= current_user.username %>">
          <%= link_to users_wishlist_path(current_user.username), class: "nav-icon" do %>
            <i class="fas fa-heart mx-2">
              <div class="x" data-target="wish.bubble"></div>
            </i>
          <% end %>
        </div>
        <!-- 通知 -->
        <div class="nav-icon">
          <button class="nav-icon border-0 bg-transparent p-0" data-action="notify#show">
            <i class="fas fa-bell mx-2">
              <div class="x" data-target="notify.bubble"></div>
            </i>
          </button>
        </div>

      <% else %>

        <!-- 註冊&登入 -->
        <%= link_to "Sign up", new_user_registration_path ,class: "mx-2 txt" %>
        <%= link_to "Sign in", new_user_session_path ,class: "mx-2 txt" %>
      <% end %>
      <!-- 開燈/關燈 -->
      <div class="toggle mx-2">
        <input id="switch" type="checkbox" name="theme" >
        <label for="switch"></label>
      </div>
    </div>

  <!-- 下拉選單 -->
  <div>
    <% if user_signed_in?  %>
      <div class="fix-down">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" >
          <div class="nav-avatar">
            <%= render "shared/frontend/user_avatar", user: current_user %>
          </div>
        </button>
      </div>
      <div class="layout-dropdown collapse position-absolute w-100 ml-auto" id="navbarToggleExternalContent">
        <div class="layout-dropdown-child position-absolute px-4 py-1 ml-auto col-2 col-lg-2">

          <!-- 作者主頁 (有創建過書籍才會顯示) -->
          <% if current_user.as_author %>
          <!-- 作者寫書區 -->
            <div class="py-2 d-flex">
              <%= link_to "My Writings", users_books_path, class: "nav-drop-item container-fluid" %>
            </div>
          <% end %>

          <!-- 寫書 -->
          <div class="py-2 d-flex">
            <%= link_to "Create a Book", new_book_path, class: "nav-drop-item container-fluid" %>
          </div>

          <!-- 個人書櫃 -->
          <div class="py-2 d-flex">
            <%= link_to "Library", users_library_path, class: "nav-drop-item container-fluid" %>
          </div>

          <!-- 購買紀錄 -->
          <div class="py-2 d-flex">
            <a href="/purchases" class="nav-drop-item container-fluid">Purchases</a>
          </div>
          
          <!-- 檢視個人主頁 -->
          <div class="py-2 d-flex">
            <%= link_to "Profile", users_profile_path(current_user.username), class: "nav-drop-item container-fluid"%>
          </div>

          <!-- 追隨 -->
          <div class="py-2 d-flex">
            <%= link_to "Follows", users_followship_path, class: "nav-drop-item container-fluid" %>
          </div>
          
          <!-- 登出 -->
          <div class="py-2 d-flex">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out_btn nav-drop-item container-fluid"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="notify-box" class="position-fixed x">
    <div class="d-flex px-3 py-2 border-bottom justify-content-between">
      <div class="">Notifications</div>
      <div>Clear All</div>
    </div>
    <div class="notify-content" data-target="notify.box"></div>
  </div>
</nav>