<nav class="layout-navbar navbar navbar-expand-lg navbar-dark bg-dark sticky-top" data-controller="notify">
  <!-- 品牌 logo
  <div class="col-1">
    <a href="/" class="navbar-brand">  
      <%= image_pack_tag "logo.png", class: "img-fluid" %>
    </a>
  </div>
  -->
  
  <button class="navbar-toggler" type="button" data-trigger="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- 收合選單開始 -->
  <div class="navbar-collapse bg-dark" id="main_nav">
    <div class="offcanvas-header">
      <button class="btn btn-outline-danger btn-close float-right">
        &times
      </button>
    </div>

    <!-- 導覽列選單 -->
    <ul class="nav-item-group navbar-nav">
      <li class="nav-item">
        <%= link_to "Books", books_path, class: "nav-link txt" %>
      </li>
      <li class="nav-item"><%= link_to "Library", users_library_path, class: "nav-link txt" %></li>
      <li class="nav-item active">
        <%= link_to "Create a Book", new_book_path, class: "nav-link txt" %>      
      </li>
      <%# <% if current_user.as_author %>
      <li class="nav-item">
        <%= link_to "My Writings", users_books_path, class: "nav-link txt" %>
      </li>
      <%# <% end %>
    </ul>

    <!-- Search Filter -->
    <div class="search-filter" data-controller="search">
      <select name="" id="search-selector" class="btn" data-target="search.select" style="color: white">
        <option value="book-search">Book Title</option>
        <option value="author-search">Book Author</option>
        <option value="tag-search">Book Tags</option>
      </select>
      <div class="row search-bar">

        <!-- book search 表單 -->
        <%= form_with url: books_path, method: :get, class: "nav-search x form-inline d-flex flex-nowrap ml-4", local: true, data: {target: "search.book_search"} do |f| %>
          <%= f.search_field :book_search, class: "search-input book-search-input form-control", placeholder: "Search" %>
          <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>

        <!-- author search 表單 -->
        <%= form_with url: books_path, method: :get, class: "nav-search author-search x form-inline d-flex flex-nowrap ml-4", local: true, data: {target: "search.author_search"} do |f| %>
          <%= f.search_field :author_search, class: "search-input author-search-input form-control", placeholder: "Search" %>
          <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>

        <!-- tag search 表單 -->
        <%= form_with url: books_path, method: :get, class: "nav-search tag-search x form-inline d-flex flex-nowrap ml-4", local: true, data: {target: "search.tag_search"} do |f| %>
          <%= f.search_field :tag_search, class: "search-input tag-search-input form-control", placeholder: "Search" %>
          <%= f.button :submit, class: "search-btn btn btn-outline-black" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- 開燈 / 關燈 -->
    <div class="toggle mx-2" data-controller="light">

      <!-- 圖示（測試中）
      <div data-action="click->light#switch" class="">
        <i class="fas fa-moon" data-target="light.icon"></i>
      </div> %>
      -->

      <!-- 按鈕 -->
      <input id="switch" type="checkbox" name="theme" >
      <label for="switch"></label>
    </div>

    <!-- 使用者選單 -->
    <ul class="navbar-nav user-menu">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            User Menu
          </a>
          <ul class="dropdown-menu">
            <!-- 編輯個人主頁 -->
            <li class="dropdown-item">
              <%= link_to "Edit Profile", user_dashboard_path, class:"nav-drop-item" %>
            </li>

            <!-- 追隨 -->
            <li class="dropdown-item">
              <%= link_to "Follows", followship_path, class: "nav-drop-item" %>
            </li>

            <!-- 購買紀錄 -->
            <li class="dropdown-item">
              <a href="/purchases" class="nav-drop-item">Purchases</a>
            </li>
            
            <!-- 登出 -->
            <li class="dropdown-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out_btn nav-drop-item"%>
            </li>
          </ul>
        </li>
      <% else %>

        <!-- 註冊 -->
        <%= link_to "Sign Up", new_user_registration_path, class: "sing_up nav-link" %>
        
        <!-- 登入 -->
        <%= link_to "Sign In", new_user_session_path, class: "sing_in nav-link" %>
      <% end %>
    </ul>

  </div>
  <!-- 收合選單結束 -->

  <!-- 購物車、願望清單、通知 -->
  <div class="icon-group">

    <!-- 購物車 -->
    <%= link_to cart_path, class:"nav-icon" do %>
      <i class="fas fa-shopping-cart mx-2">
        <div class="x"></div>
      </i>
    <% end %>
    
    <!-- 願望清單 -->
    <% if user_signed_in? %>
    <div class="nav-icon" data-controller="wish" data-wish-username="<%= current_user.username %>">
      <%= link_to users_wishlist_path(current_user.username), class: "nav-icon" do %>
        <i class="fas fa-heart mx-2">
          <div class="x" data-target="wish.bubble"></div>
        </i>
      <% end %>
    </div>

    <!-- 通知 -->
    <div class="nav-icon">
      <button class="nav-icon border-0 bg-transparent p-0" data-action="notify#show">
        <i class="fas fa-bell mx-2">
          <div class="x" data-target="notify.bubble"></div>
        </i>
      </button>
    </div>

    <div id="notify-box" class="position-fixed x">
      <div class="d-flex px-3 py-2 border-bottom justify-content-between">
        <div class="">Notifications</div>
        <div class="clear-notify" data-action="click->notify#mark_read">Clear All</div>
      </div>
      <div class="notify-content" data-target="notify.box"></div>
    </div>
    <% end %>
  </div>
</nav>