<!-- 最大最小價格 -->
<div class="d-flex book-price">
  <div class="mr-5">
    <h2 class="mb-0">$<%= book.price %></h2>
    <p>MINIMUM PRICE</p>
  </div>
  <div>
    <h2 class="mb-0">$<%= book.price * 2 %></h2>
    <p>SUGGESTED PRICE</p>
  </div>
</div>

<!-- Slider -->
<div class="slider mb-4">
  <h5 class="mb-1">You Paid</h5>
  <div class="user-pay d-flex my-2">
    <div class="user-pay-box">
      <span class="user-pay-show">$<%= book.price * 2 %></span>
    </div>
    <input id="user-pay" class="w-100 mb-3" type="range" min="<%= book.price %>" max="<%= book.price * 3 %>" value="<%= book.price * 2 %>" step="0.01">
  </div>

  <h6 class="mb-1">Author Earns</h6>
  <div class="author-earns d-flex my-2">
    <div class="author-earns-box">
      <span class="author-earns-show">$<%= book.price * 2 * 0.8 %></span>
    </div>
    <input id="author-earns" class="w-100" type="range" min="<%= book.price * 0.8 %>" max="<%= book.price * 4 %>" value="<%= book.price * 2 %>" step="0.01">
  </div>
</div>
