<section class="followship container" data-controller="followship">
  <h3 class="text-center txt">You are Following</h3>
  <div class="card-box row m-0">
    <% @followers.each do |follower| %>
      <div class="card col-6 col-md-4 col-lg-3 py-3">
        <div class="img-box col-10 col-lg-8 mx-auto">
          <%= render "shared/frontend/user_avatar", user: follower %>
        </div>
        <div class="card-body col-lg-10 text-center">
          <h5 class="card-title"><%= follower.name %></h5>
        </div>
        <button class="follow-btn btn btn-primary txt col-lg-10 w-100" data-username="<%= follower.username %>">
          <% if follower.followed_by?(current_user) %>
            Following
          <% else %>
            Follow
          <% end %>
        </button>
      </div>
    <% end %>
  </div>

  <h3 class="text-center txt mt-5">Who's Following you</h3>
  <div class="card-box row m-0">
    <% @followees.each do |followee| %>
      <div class="card col-6 col-md-4 col-lg-3 py-3">
        <div class="img-box col-10 col-lg-8 mx-auto">
          <%= render "shared/frontend/user_avatar", user: followee %>
        </div>
        <div class="card-body col-lg-10 text-center">
          <h5 class="card-title"><%= followee.name %></h5>
        </div>
        <button class="follow-btn btn btn-primary txt col-lg-10 w-100" data-username="<%= followee.username %>">
          <% if followee.followed_by?(current_user) %>
            Following
          <% else %>
            Follow
          <% end %>
        </button>
      </div>
    <% end %>
  </div>
</section>
