<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-2">
      <div class="square-img border rounded-circle">
        <% if current_user.avatar_data %>
          <%= image_tag current_user.avatar_url, class: "w-100 position-absolute" %>
        <% else %>
          <img src="https://www.nicepng.com/png/full/136-1366211_group-of-10-guys-login-user-icon-png.png" class="w-100 position-absolute">
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <p class="col-12 text-center h3"><%= @user.name %></p>
    </div>
  
    <div class="row justify-content-center">
      <p class="col-2 text-center h3"><%= current_user.about %></p>
    </div>
  
    <div class="row justify-content-center">
      <% current_user.pub_books.each do |book| %>
        <%= book.cover_url %>
        <%= book.title %>
        <%= book.authors[0].name %>
      <% end %>
    </div>
  </div>
</div>