<div class="profile-show container text-center">
  <div class="row justify-content-center">
    <div class="col-2">
      <%= render "shared/frontend/user_avatar", user: @user %>
    </div>

    <div class="col-12">
      <%= link_to "Follow", followships_path(follower_id: @user), method: :post, remote: true %>
    </div>
  
    <div class="col-12 h3"><%= @user.name %></div>
    <div class="col-12 h3"><%= @user.about %></div>
   
    <%# 出版過的書 %>
    <div>
      <h3 class="col-12">Published Books</h3>
      <% @user.pub_books.each do |book| %>
        <div class="col-12">
          <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
          <%= book.title %>
          <%= book.authors[0].name %>
        </div>
      <% end %>
    </div>

    <%# 編輯個人資料 %>
    <div class="col-12">
      <%= link_to "Edit Profile", user_dashboard_path %>
    </div>


  </div>
</div>
