<section class="profile-show container">
  <div class="row">
    <div class="author-about col-12 d-lg-flex">
      <div class="avatar col-8 col-md-4 col-lg-3">
        <div class="img-box col-12 col-lg-7 mx-auto">
          <%= render "shared/frontend/user_avatar", user: @user %>
        </div>
        <div class="justify-content" data-controller="follow" data-follow-user="<%= @user.username %>">
          <div class="follow col-12 col-lg-10 m-auto">
            <button class="follow-btn btn main-button txt w-100", data-action="follow#followship">
              <% if @user.followed_by?(current_user) %>
                Following
              <% else %>
                Follow
              <% end %>
            </button>
          </div>
        </div>
      </div>
      
      <div class="authors-info justify-content col-12 col-md-6 col-lg-9">
        <div class="h3 txt user-name ">
          <%= @user.name %> 
        </div>
        <div class="txt user-about">
          <%= @user.about %>He’s the bestselling author of Steal Like An Artist and other books. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, eaque ipsam fugit quos perferendis ut dolorum rem error repellendus vitae! 
        </div>
        <div class="txt user-locate d-flex">
          <i class="fas fa-map-marker-alt fa-2x"></i>
          <div class="txt location d-flex">
            <p>Taipei, Taiwan</p>
          </div>
        </div>
        <div class="follow-grop d-flex">
          <div class="txt follow-between d-flex">
            <div class="following">
              <div class="number"><%= rand(100..150) %></div>
              <p>Following</p>
            </div>
            <div class="follower">
              <div class="number"><%= rand(100..150) %></div>
              <p>Follower</p>
            </div>
          </div>

          <div class="contact d-flex ">
            <a href="#" class="facebook">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="#" class="github">
              <i class="fab fa-github fa-3x"></i>
            </a>
            <a href="#" class="email">
              <i class="far fa-envelope fa-3x"></i>
            </a>
          </div>
        </div>
        
      </div>

      
    </div>

    <div class="book-container">
      <h3 class="col-12 title">Published Books</h3>

      <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
              class="fas fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
              class="fas fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->

        <div class="carousel-inner v-2" role="listbox">
          <% @user.pub_books.each do |book| %>
            <div class="carousel-item d-flex">
              <div class="col-4 col-md-4">
                <div class="card mb-2">
                  <a class="cover-link" data-key="<%= book.id %>">
                    <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
                    <h4><%= book.title %></h4>
                    <div>
                      <%= book.authors[0].name %>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    
   
    <%# 出版過的書 %>

    <div class="row m-0 d-flex">
      <h3 class="col-12 title">Published Books</h3>
      <% @user.pub_books.each do |book| %>
        <div class="book-item col-6 col-sm-4 col-md-3 col-lg-2 d-flex flex-column justify-content-between">
          <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
          <h4><%= book.title %></h4>
          <div>
            <%= book.authors[0].name %>
          </div>
        </div>
      <% end %>
    </div>    
    
  </div>
</section>
