<div class="profile-show container">
  <div class="row d-flex justify-content-center">
    <div class="col-2">
      <div>
        <%= render "shared/frontend/user_avatar", user: @user %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <p class="col-12 text-center h3"><%= @user.name %></p>
    </div>
  
    <div class="row justify-content-center">
      <p class="col-2 text-center h3"><%= @user.about %></p>
    </div>
  
    <h3 class="text-center">Published Books</h3>
    <div class="row justify-content-center">
      <% @user.pub_books.each do |book| %>
        <div class="col-2">
          <%= render "shared/frontend/book_cover", locals: {book: book, size: :small} %>
          <%= book.title %>
          <%= book.authors[0].name %>
        </div>
      <% end %>
    </div>
  </div>
</div>