<section class="txt container d-flex justify-content-center my-4">
  <div class="col-12 col-lg-6 col-lg-8">
    <h2 class="text-center mb-4">Wish List for <%= current_user.name %></h2>
    <% @books.each do |book| %>
      <div class="" data-controller="wishlist" data-wishlist-book="<%= book.id %>" data-wishlist-username="<%= current_user.username%>">
        
        <div class="col-12 col-lg-8 row">
          <div class="col-4 text-right ml-auto cover-box cover-box" data-target="wishlist.cover">
            <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
          </div>

          <div class="col-8 pl-3 mr-auto my-auto">
            <p><%= book.title %></p>
            <div>
              <button class="item-edit main-button btn" data-action="wishlist#cart">Move to cart</button>

              <%= link_to "Remove from your wish list", users_unwish_path(current_user.username, id: book), method: :delete, remote: true, class: "btn border rounded" %>
            </div>
          </div>
        </div>

      </div>
      <div class="d-flex justify-content-center" >
          <div class="col-12 border-white border-bottom my-2"></div>
      </div>     
    <% end %>
  </div>
  
</section>
