<section class="txt container">
  <h2>Wish List for <%= current_user.name %></h2>

  <% @books.each do |book| %>
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto row">
        <div class="col-4 text-right ml-auto cover-box cover-box">
          <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
        </div>
        <div class="col-8 pl-3 mr-auto my-auto">
          <p><%= book.title %></p>
          <div>
            <%= link_to "Move to cart", "#slider-modal-wish", remote: true, data: {toggle: "modal"}, class: "item-edit main-button btn" %>

            
            
            <%= link_to "Remove from your wish list", unwish_path(current_user.username, id: book), method: :delete, remote: true, class: "btn border rounded" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
