<section class="wishlist txt my-4 container">   
  <h1 class="text-center mb-4">Wishlist for <%= current_user.name %></h1>   

  <% @books.each do |book| %>
    <div class="row" data-controller="wishlist" data-wishlist-book="<%= book.id %>" data-wishlist-username="<%= current_user.username%>">
      
      <div class="col-12 col-lg-5">
        <div class="cover-box col-6" data-target="wishlist.cover">
          <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
        </div>
      </div>

      <div class="wish-btns col-12 col-lg-7">
        <div class="col-12">
          <p class="book-title"><%= book.title %></p>
        </div>
      
        <div class="wish-btn col-12">
          <button class="item-edit main-button btn d-block" data-action="wishlist#cart">Move to cart</button>
          <%= link_to "Remove from your wish list", users_unwish_path(current_user.username, id: book), method: :delete, remote: true, class: "btn border d-block removeWish" %>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-center my-3">
        <div class="col-12 col-md-8 border-gray border-bottom"></div>
    </div>     
  <% end %>
</section>
