<section class="purchase-index container-lg py-5 py-lg-3">
  <div class="row flex-unwrap">
    <div class="col-12 col-lg-3 col-xl-2 flex-unwrap mb-4">
      <div class="col-6 col-sm-3 col-lg-10 col-xl-12 m-auto">
        <%= render "shared/frontend/user_avatar", user: current_user %>
      </div>
      <p class="text-center mt-3 txt"><%= current_user.name %></p>
    </div>
    
    <div id="order-info" class="col-12 col-lg-9 col-xl-10 pl-xl-5">
      <div class="info-title h3 text-center">Purchases</div>
      <span class="info-text2 text-center d-block text2">These are all the purchases you have made on Leanpub.</span>
      
      <div class="order-box text-center mt-3 mt-lg-3">
        <% if any_purchase?(current_user) %>
          <div class="w-100">
            <div class="row py-2 py-lg-3 txt">
              <div class="col-12 col-lg-5">Purchase ID</div>
              <div class="col-0 col-lg-2">Purchase Date</div>
              <div class="col-0 col-lg-2"># of Items</div>
              <div class="col-0 col-lg-3">Total</div>
            </div>
  
            <% @orders.each do |order| %>
              <div class="row py-2 order-item">
                <%= link_to "/purchases_show?uuid=#{order.uuid}", class: "d-flex w-100", data: {controller: "order", action: "order#show", order_uuid: order.uuid, turbolinks: "false"} do %>
                  <div class="col-12 col-lg-5"><%= order.order_items[0].book.title %></div>
                  <div class="col-0 col-lg-2"><%= order.updated_at.strftime("%Y-%m-%d") %></div>
                  <div class="col-0 col-lg-2"><%= order.order_items.count %></div>
                  <div class="col-0 col-lg-3">$<%= order.total %></div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="container purchase d-flex  text-center">
            <p class=" h2 mx-auto align-self-center">
              <%= link_to "Get some books", books_path, class: "" %> <br>
              or <br>
              <%= link_to "Is there any book in your shopping cart",cart_path ,class:"" %>
            </p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>
