<div class="container">
  <div class="row">
    <div class="col-2">
      <div>
        <%= render "shared/frontend/user_avatar", user: current_user %>
      </div>
      <p class="text-center"><%= current_user.name %></p>
    </div>
    
    <div id="order-info" class="col-10 border">
      <div class="h3 pl-5 pt-5">Purchases</div>
      <span class="pl-5 pt-5">These are all the purchases you have made on Leanpub.</span>
      
      <% if any_purchase?(current_user) %>
        <div class="pl-5 pt-5 w-100">
          <div class="row border-bottom py-3">
            <div class="col-5">Purchase ID</div>
            <div class="col-3">Purchase Date</div>
            <div class="col-2"># of Items</div>
            <div class="col-2">Total</div>
          </div>

          <% @orders.each do |order| %>
            <div class="row border-bottom py-2">
              <%= link_to "/purchases_show?uuid=#{order.uuid}", class: "d-flex w-100", data: {controller: "order", action: "order#show", order_uuid: order.uuid} do %>
                <div class="col-5"><%= order.order_items[0].book.title %></div>
                <div class="col-3"><%= order.updated_at.strftime("%Y-%m-%d") %></div>
                <div class="col-2"><%= order.order_items.count %></div>
                <div class="col-2">$<%= order.total %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="container purchase d-flex  text-center">
          <p class=" h2 mx-auto align-self-center">
            <%= link_to "Get some books", books_path, class: "" %> <br>
            or <br>
            <%= link_to "Is there any book in your shopping cart",cart_path ,class:"" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
