  <section class="edit-profile container d-flex justify-content-center">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :patch) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  
                  <div class="mb-3" style="width:160px">
                    <div class="pb-3" style="width:100%">
                      <div class="square-img border rounded-circle" id="avatar-preview">
                        <% if has_avatar?(current_user) %>
                          <%= image_tag current_user.avatar_url, class: "w-100 position-absolute" %>
                        <% else %>
                          <img class="w-100 position-absolute" src="https://www.nicepng.com/png/full/136-1366211_group-of-10-guys-login-user-icon-png.png">
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <%= f.hidden_field :avatar, value: current_user.cached_avatar_data %>
              <%= f.file_field :avatar, id: "avatar-input" %>
              <ul class="nav nav-tabs mt-3">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>

              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    

                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :name, "Full NAME" %><br>
                            <%= f.text_field :name, autofocus: true, class:"form-control" %>
                          </div>
                        </div>
                          <!-- checkbox 暫時沒有功能，先做畫面 -->
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :username, "USERNAME" %><br>
                            <%= f.text_field :username, class:"form-control" %>
                          </div>
                        </div>
                      </div>
                          
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :email, "EMAIL" %><br>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control" %>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :about, "ABOUT YOU" %><br>
                            <%= f.text_area :about, class:"form-control" %>
                          </div>
                        </div>
                      </div>

                          <!-- checkbox 暫時沒有功能，先做畫面 -->
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <input type="checkbox" name="" id="public-profile">
                            <label for="public-profile">Show public profile</label>
                          </div>
                        </div>
                      </div>

                          
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :password, "NEW PASSWORD" %><br>
                            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                            <% if @minimum_password_length %>
                              <em><%= @minimum_password_length %> characters minimum</em>
                            <% end %>
                          </div>
                        </div>

                        <div class="col mt-2 ml-5">
                          <div class="form-group">
                            <label for="twitter-username">TWITTER USERNAME
                              <span>@</span>
                              <input type="text" id="twitter-username", class="form-control">
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- 密碼驗證
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <%= f.label :password_confirmation %><br>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                          </div>
                        </div>
                        -->

                        <div class="col mt-2 ml-5">
                          <div class="form-group">
                            <label for="github-username">GITHUB USERNAME
                              <span>github.com/</span>
                              <input type="text" id="github-username", class="form-control">
                            </label>
                          </div>
                        </div>
                      </div>

                      <!-- 輸入目前密碼
                      <div class="row">
                        <div class="col">
                         <div class="form-group">
                            <%= f.label :current_password %><br>
                            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                          </div>
                        </div>
                        --> 

                        <div class="col ml-5">
                          <div class="form-group">
                            <label for="instagram-username">INSTAGRAM USERNAME
                              <span>instagram.con/</span>
                              <input type="text" id="instagram-username", class="form-control">
                            </label>
                          </div>
                        </div>
                      </div>
                      
                      <!-- 以下目前不會寫入 db，待討論是否要實作 -->
                      <%# <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="twitter-username">TWITTER USERNAME
                              <span>@</span>
                              <input type="text" id="twitter-username", class="form-control ">
                            </label>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label for="github-username">GITHUB USERNAME
                              <span>github.com/</span>
                              <input type="text" id="github-username", class="form-control">
                            </label>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label for="instagram-username">INSTAGRAM USERNAME
                              <span>instagram.con/</span>
                              <input type="text" id="instagram-username", class="form-control">
                            </label>
                          </div>
                        </div>
                      </div> %>
                      <!-- 以上目前不會寫入 db，待討論是否要實作 -->

                      <div class="d-flex justify-content-end mb-3">
                        <%= f.submit "Save Settings", class:"text-white", style:"background-color: #e09a5f" %>
                      </div>

                    <% end %>

                </div>
        </div>
