<section class="sign-up container d-flex justify-content-center my-10" data-controller="signup">
  <div class="mx-4 d-none d-lg-block">
    <h4 class="font-weight-normal title">
      PUBLISH EARLY,<br />
      PUBLISH OFTEN.
    </h4>
    <div class="txt">
      <p>
        Authors, companies and universities use Simpub to<br />easily write,
        publish and sell amazing in-progress<br />and completed ebooks and online courses.
      </p>
      <p>
        By the way, this is a sign up page, but you actually<br />don't need to sign up here!
      </p>
      <p>
        We automatically create an account for you if you buy<br />
        a book or course as a reader</a>.This is because many<br /> of our books and courses are published in-progress,<br />
        and you get free updates whenever an author<br />publishes a new version.
      </p>
      <p>
        We also automatically create an account for you if<br />you create a book or course as an author</a>.Simpub<br />authors can create up to 100 books or courses for<br /> free, or choose a Standard or Pro plan for more features.
      </p>     
      <p>
        So why does this page exist? Simple: when it didn't,<br />people asked us where it was. So, it's here, and you<br />can use it if you wish!
      </p>     
      <p>
        If you have an issue signing up here, just go buy a<br />book or course</a> or create a book or course</a> instead!
      </p>
    </div>
  </div> 
  <div class="sign-up-column mx-4"> 
    <h3 class="title">Sign Up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="mb-3">
          <%= f.label :name, class:"txt" %><br />
          <%= f.text_field :name, autofocus: true, class:"col-12", required: true, data: {target: "signup.name"} %>
          <span class="text-danger d-block mt-1" data-target="signup.name_error"></span>
          <div class="w-100"></div>
        </div>

        <div class="mb-3">
          <%= f.label :email, class:"txt" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-12", data: {target: "signup.email"} %>
          <span class="text-danger d-block mt-1" data-target="signup.email_error"></span>
          <div class="w-100"></div>
        </div>

        <div class="mb-3">
          <%= f.label :username, class:"txt" %><br />
          <div class="username d-flex">
            <span class="">simpub.tw/u/</span>
            <%= f.text_field :username, autofocus: true, class:"flex-grow-1", data: {target: "signup.username"} %>
          </div>
          <span class="text-danger d-block mt-1" data-target="signup.username_error"></span>
          <div class="w-100"></div>
        </div>

        <%= f.label :password, class:"txt" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />

        <%= f.password_field :password, autocomplete: "new-password", class:"col-12 mb-3 txt" %>
        <div class="w-100"></div>

        <%= f.label :password_confirmation, class:"txt" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-12 mb-3" %>
        <div class="w-100"></div>

        <input class= "txt mr-2" type="checkbox">I accept the Simpub Terms of Service and Privacy Policy
  
        <div class="my-3">
        <%= f.submit "Create Account", class: "btn main-button border-0 py-2" %>
        </div>
        <% end %>
        
        <div class="text-start txt">
          <%= render "devise/shared/links" %>
        </div>
   </div>
</section>


