<h1 class="text-red-500">Library</h1>

<div class="container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-2">
        <div class="library">
          <div class="cover">
            <!-- 加入判斷避免該欄位使用假圖壞掉的 bug -->
            <% if book.cover_data %>
              <a href="<%= book_path(book) %>"><%= image_tag book.cover_url(:small), class: "w-100" %></a>
            <% else %>
              <img class="w-100" src="https://picsum.photos/200/250/?random=<%= rand(100) %>">
            <% end %>
          </div>
          <div><%= book.title %></div>
          <!-- 加入判斷避免沒上傳檔案的書籍連結壞掉 -->
          <% if book.md_data %>
            <p><%= link_to '下載', book.md_url, target: "_blank" %></p>
          <% else %>
            <p>沒有上傳 PDF</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
