<div class="h3 text-white  pl-5 pt-5">Library</div>
<div class="container library">
  <div class="row ">
    <% if @books.count == 0 %>
      <div class="container purchase d-flex text-white text-center">
      <p class=" h2 mx-auto align-self-center">
        <%= link_to "Get some books", books_path%> <br>
        or <br>
        <%= link_to "Is there any book in your shopping cart",cart_path %>
      </p>

</div>
    <% else %>
      <% @books.each do |book| %>
      <div class="col-2 text-white">
        <div class="library">
          <div class="cover">
            <!-- 加入判斷避免該欄位使用假圖壞掉的 bug -->
            <a href="#collapseBook" data-toggle="collapse" data-target="#collapseBook">
              <%= render "shared/frontend/book_cover", locals: {book: book, size: :small} %>
            </a>
          </div>
          <div><%= book.title %></div>

          <%= link_to "Read on Leanpub",read_book_path(book), method: "POST"%>
          <!-- 加入判斷避免沒上傳檔案的書籍連結壞掉 -->
          <% if book.md_data %>
            <p><%= link_to "下載", book.md_url, target: "_blank" %></p>
          <% else %>
            <p>沒有上傳 PDF</p>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</section>
<section class="library-info container p-0">
  <div class="library-info">
    <div class="collapse" id="collapseBook">
      <div class="card card-body mg-auto ">
        <div class="info-group d-flex ">
          <div>
            <%#= image_tag book.cover_url(:medium), class: "w-52"%>
            <img src="https://picsum.photos/id/684/500/400" alt=""/>
          </div>
          <div class="book-about mx-4" >
            <h1 class="book-info ">title</h1>
            <a href="#" class="author">John Doe</a>
            <h1 class="Read this book">Read this book</h1>
            <a href="#" class="PDF main-color"><i class="fas fa-laptop"></i>"PDF"<span>(For reading on a computer)</span></a><br>
            <a href="#" class="EPUB main-color"><i class="fas fa-mobile-alt"></i>"EPUB"<span>(For reading on phones and tablets)</span></a><br>
            <a href="#" class="MOBI main-color"><i class="fas fa-tablet-alt"></i>"MOBI"<span>(For reading on a Kindle)</span></a><br>
            <a href="#" class="Leanpub main-color"><i class="fab fa-leanpub"></i>"Read on Leanpub"</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
