<%= form_for book, data: {controller: "book", book_title: book.title, book_state: book.publish_state} do |f| %>
  
  <div class="form-item col-lg-5">
    <div class="col-xl-10 pr-xl-0">
      <p class="cover">The Book Cover</p>
      <div id="cover-preview" class="mx-auto mb-2">
        <%= image_pack_tag "open_book_cover.jpeg", class: "w-100" %>
      </div>
  
      <%= f.label :cover, class: "cover btn-primary py-1", data: {action: "click->book#upload_cover"} do %>
        <%= f.hidden_field :cover, value: book.cached_cover_data %>
        <%= f.file_field :cover, id: "cover-input", data: {target: "book.cover"} %>
        上傳封面圖片
      <% end %>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="col-xl-10 pl-xl-0">
      <div class="form-item mb-3">
        <%= f.label :title, "The Book Title", class: "book-title" %>
        <% if params[:controller] == "books" and params[:action] == "new" %>
          <%= f.text_field :title, class: "w-100", data: {action: "book#input", target: "book.title"}, required: true %>
        <% else %>
          <%= f.text_field :title, class: "w-100", disabled: true %>
        <% end %>
        <span id="error_msg" class="text-danger d-block mt-1" data-target="book.error_msg"></span>
      </div>
    
      <div class="form-item">
        <%= f.label :about, "About This Book", class: "about txt" %>
        <%= f.text_area :about, class:"w-100" %>
      </div>
    
      <!-- 目錄我們自己產生 -->
      
      <div class="form-item" data-controller="tag" data-tag-list="<%= book.tag_items %>">
        <%= f.label :tag_items, "Tags", class: "tags" %>
        <div class="mb-3">
          <select class="form-control select optional border" multiple="multiple" name="book[tag_items][]" id="book_tag_items">
            <%= options_for_select(@tags) %>
          </select>
        </div>
      </div>
    
      <div class="form-item">
        <%= f.label :completeness, "Completeness", class:"txt" %> (%)
        <%= f.number_field :completeness, class:"w-100 mb-3", min: "0", max: "100" %>
      </div>
    
      <!-- 編輯器另外做一個頁面 -->
    
      <div class="desk">
        <div class="form-item col-lg-6">
          <%= f.label :md, class:"btn-primary py-1", data: {action: "click->book#upload_pdf"} do %>
            <%= f.hidden_field :md, value: book.cached_md_data %>
            <%= f.file_field :md, class:"mb-3", id: "file_input", data: {target: "book.pdf"} %>
            上傳 PDF
          <% end %>
        </div>
      
        <div class="col-lg-6">
          <%= f.submit "Finish", class:"btn btn-danger main-btn" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
