<% if book.errors.any? %>
  <ul>
    <% book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(book) do |f| %>
  <div id="cover-preview" class="w-50">
    <img src="#" alt="" class="w-100">
  </div>

  <div>
    <%= f.hidden_field :cover, value: book.cached_cover_data %>
    <%= f.label :cover, "封面" %>
    <%= f.file_field :cover, id: "cover-input" %>
  </div>

  <div>
    <%= f.label :title, "書籍標題" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :about, "關於此書" %>
    <%= f.text_area :about %>
  </div>

  <!--
  <div>
    <%= f.label :price, "價格" %>
    <%= f.number_field :price, :step => "0.01" %>
  </div>
  -->

  <!-- 目錄我們自己產生 -->

  <div>
    <%= f.label :completeness, "完成度" %>
    <%= f.number_field :completeness %>
  </div>

  <!-- 編輯器另外做一個頁面 -->
  <div>
    <%= f.hidden_field :md, value: book.cached_md_data %>
    <%= f.label :md, "上傳檔案" %>
    <%= f.file_field :md %>
  </div>

  <div>
    <%= f.submit "完成" %>
  </div>
<% end %>
