<%= form_for book, data: {controller: "book", book_error: book.errors.full_messages, book_state: book.publish_state}, class: "w-100" do |f| %>
  <div id="cover-preview" class="w-50">
    <img src="#" alt="" class="w-100">
  </div>

  <div class="form-item">
    <%= f.label :cover, "The Book Cover", class: "cover w-100" %>
    <%= f.hidden_field :cover, value: book.cached_cover_data %>
    <%= f.file_field :cover, id: "cover-input" %>
  </div>

  <div class="form-item mb-3">
    <%= f.label :title, "The Book Title", class: "book-title" %>
    <%= f.text_field :title, class: "w-100", data: {action: "book#input", target: "book.title"}, required: true%>
    <span id="error_msg" class="text-danger d-block" data-target="book.error_msg"></span>
  </div>

  <div class="form-item">
    <%= f.label :about, "About This Book", class: "about txt" %>
    <%= f.text_field :about, class:"w-100 mb-3" %>
  </div>

  <!-- 目錄我們自己產生 -->

  <div class="form-item">
    <%= f.label :tag_items, "Tags", class: "tags" %>
    <div class="mb-3">
      <select class="form-control select optional" multiple="multiple" name="book[tag_items][]" id="book_tag_items">
      <%= options_for_select(@tags = []) %>
      </select>
    </div>
  </div>

  <div class="form-item">
    <%= f.label :completeness, "Completeness", class:"txt" %>
    <%= f.number_field :completeness, class:"w-100 mb-3" %>
  </div>

  <!-- 編輯器另外做一個頁面 -->
  <div class="form-item">
    <%= f.label :md, "Upload Files", class:"txt w-100" %>
    <%= f.hidden_field :md, value: book.cached_md_data %>
    <%= f.file_field :md, class:"mb-3", id: "file_input" %>
  </div>

  <div>
    <%= f.submit "Finish", class:"btn btn-danger w-50 main-btn", data: {action: "book#create"} %>
  </div>
<% end %>
