<div class="wrap">
  <div class="chapter_list">
    <% json.each_with_index do |chapter,index| %>
    <div class="d-flex justify-content-between" >
      <div class="chapter" data-order=<%= index%>><%= chapter.keys[0] %></div>
      <div class="addsection">+</div>
    </div>
      <% if chapter.values[0].length != 0 %>
        <% chapter.values[0].each do |section| %>
        <div class="section" data-chapter="<%= chapter.keys[0] %>"><%= section %></div>
        <% end %>
      <% end %>
    <% end %>
    <div id="addChapter">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div id="sourceTA" class="custom" rows="10" cols="82"></div> <%# 給 codemirror 塞 code highlight 編輯器 %>
  <div id="targetDiv"></div>                                   <%# 給 markdown-it 塞 md to html 的東西 %>
</div>

<%# add chapter form %>
<%= form_with url: add_chapter_book_path(book),class: "chapterCreate x" do |f| %>
  <div>Add New Chapter</div>
  <p class="text-center text-danger" id="chapterErr"></p>
  <div>
    <%= f.label :chapter, "Chapter" %>
    <%= f.text_field :chapter %>
  </div>
  <div>
    <%= f.submit "OK",class: 'btn formBtn', id:"chapterAgreeBtn"%>
    <button class="btn formBtn" id="chapterNotAgreeBtn">X</button>
  </div>
<% end %>

<%# add section form %>
<%= form_with url: add_section_book_path(book),class: "sectionCreate x" do |f| %>
  <div>Add New Section</div>
  <p class="text-center text-danger" id="sectionErr"></p>
  <div>
    <%= f.text_field :chapter ,class: 'x', id:'chapterForSectionRecord'%>
    <%= f.text_field :order ,class: 'x', id:'orderForSectionRecord'%>  
  </div>
  <div>
    <%= f.label :section, "Section" %>
    <%= f.text_field :section %>
  </div>
  <div>
    <%= f.submit "OK",class: 'btn formBtn' ,id:'sectionAgreeBtn' %>
    <button class="btn formBtn" id="sectionNotAgreeBtn">X</button>
  </div>
<% end %>



 
