<h1 class="book_name"><%=  @book.title %></h1>
<div class="wrap">
  <div class="chapter_list">
    <% json.each do |chapter,index| %>
      <div class="d-flex justify-content-between">
        <div class="chapter" data-order="<%= index%>"><%= chapter.keys[0] %></div>
        <div class="addsession">+</div>
      </div>
        <% if chapter.values[0].length != 0 %>
          <% chapter.values[0].each do |session| %>
          <div class="session"><%= session %></div>
          <% end %>
        <% end %>
    <% end %>

    <div id="addChapter">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
  </div>
  <div id="sourceTA" class="custom" rows="10" cols="82"></div> <%# 給 codemirror 塞 code highlight 編輯器 %>
  <div id="targetDiv"></div>                                   <%# 給 markdown-it 塞 md to html 的東西 %>
</div>

<%# add chapter form %>
<%= form_with url: add_chapter_book_path(book),class: "chapterCreate x" do |f| %>
  <div>Add New Chapter</div>

  <div>
    <%= f.label :chapter, "Chapter" %>
    <%= f.text_field :chapter %>
  </div>

  <div>
    <%= f.submit "OK",class: 'formBtn', id:"chapterAgreeBtn"%>
    <button class="btn formBtn" id="chapterNotAgreeBtn">X</button>
  </div>
<% end %>

<%# add session form %>
<%= form_with url: add_session_book_path(book),class: "sessionCreate x" do |f| %>
  <div>Add New Session</div>
  <div>
    <%= f.text_field :chapter ,class: 'x', id:'chapterForSessionRecord'%>
    <%= f.text_field :order ,class: 'x', id:'orderForSessionRecord'%>  
  </div>
  <div>
  </div>
  <div>
    <%= f.label :session, "Session" %>
    <%= f.text_field :session %>
  </div>

  <div>
    <%= f.submit "OK",class: 'formBtn' ,id:'sessionAgreeBtn' %>
    <button class="btn formBtn" id="sessionNotAgreeBtn">X</button>
  </div>
<% end %>
