<div class="book-index container">
	<div class="row books-show">
		<% @books.each do |book| %>
			<!-- 調整 RWD -->
			<div class="book-item col-6 col-sm-4 col-md-3 col-lg-2 mt-2 p-2">
				<div class="book-cover">
					<%= link_to book_path(book) do %>
						<div class="w-100">
							<%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
						</div>
					<% end %>
				</div>
				<div class="book-info d-flex flex-column mt-auto">
					<%= link_to book.title, book_path(book), class: "book-title" %>
					<%= link_to book.authors[0].name, users_profile_path(book.authors[0].username), class: "book-author mt-auto" %>
				</div>
			</div>
		<% end %>
	</div>
	
	<div class="paginate" >
		<%= paginate @books %>
	</div>
</div>
