<div class="pricing container text-center pricing d-flex flex-column justify-content-center" data-controller="pricing">
  <h1 class="h3" id="bookName"><%= @book.title %></h1>

  <div class="cover col-6 mx-auto">
    <%= render partial: "shared/frontend/book_cover", locals: {book: @book, size: :large} %>
  </div>
  <div class="col-6 mx-auto my-2 p-0 pdf-notice">
    <span class="mt-1 ">Upload your book as PDF. <br>If not, press below button</span>
  </div>

  <button class="btn btn-outline-secondary d-flex flex-nowrap">Convert to PDF</button>
  <br>

  <%= form_with model: @book, data: {target: "pricing.form", pricing_book: @book.slug} do |f| %>
    <div>
      <%= f.label :price, "Set Book Price", class:"set-book-price w-100" %>
      <%= f.number_field :price, :step => "0.01", data: {required: "requred"} %>
    </div>

    <div>
      <%= f.submit "Publish", data: {action: "pricing#submit"}, class:"btn btn-primary mt-2" %>
    </div>
  <% end %>
</div>
<div id="allpdf"></div>