<div class="pricing container text-center pricing d-flex flex-column justify-content-center" data-controller="pricing">
  <h1 class="h3" id="bookName"><%= @book.title %></h1>
  <h1 class="h3">設定書本價格</h1>

  <div class="cover col-3 mx-auto">
    <%= render partial: "shared/frontend/book_cover", locals: {book: @book, size: :large} %>
  </div>
  <div class="col-3 mx-auto mt-1 p-0 pdf-notice">
    <div class="mt-1 ">Upload your book as PDF ?</div>
    <div class="mt-1 ">If not, press below button</div>
    <div class="mt-1 btn maint-button" id="pdf-geneator">Convert Your Book to PDF</div>
  </div>
  <br>

  <%= form_for @book, data: {target: "pricing.form", pricing_book: @book.slug} do |f| %>
    <div>
      <%= f.label :price, "設定價格" %>
      <%= f.number_field :price, :step => "0.01", data: {required: "requred"} %>
    </div>

    <div>
      <%= f.submit "上架", class: "x", data: {target: "pricing.submit"} %>
    </div>
  <% end %>
  <button class="btn", data-target="pricing.btn">上架</button>
</div>
<div id="allpdf"></div>