<div class="book-show container d-flex" >
	<div class="row align-self-center">
		<div class="col-4 d-flex flex-column">
      <!-- 書本標題 -->
      <h2 class="title h3 mb-4">
        <%= @book.title %>
      </h2>

      <div class="d-flex  mb-4">
        <!-- 書籍作者頭像 -->
        <div class="book-show-author-avatar">
          <%= render "shared/frontend/user_avatar", user: @book.authors[0] %>
        </div>
        <!-- 作者名稱 -->
        <div class="book-show-author-name pl-3">
          <%= link_to link_to @book.authors[0].name, profile_path(@book.authors[0].username) %>
        </div>
      </div>

      <!-- 關於此書 -->
      <div class="mb-3">
        <% if @book.about %>
          <%= @book.about %>
        <% else %>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga enim vitae, consequuntur asperiores, itaque beatae maxime cumque sapiente quae eius odit, autem corrupti quos ipsa amet non iusto eveniet expedita?
          </p>
        <% end %>
      </div>

      <div class="tags">
        <% @book.tag_items.each do |tag| %>
          <span class="tag"># <%= tag %></span>
        <% end %>
      </div>
      
			<div class="button-group mt-auto">
        <%= link_to sample_book_path(@book),class: "btn w-50 p-1 mb-2 main-btn" do %>
          <span class="mr-2 ">Read Free Sample</span><i class="far fa-file-pdf "></i>
        <% end %> 
        <%= link_to table_of_contents_book_path(@book), method: 'POST', class: "btn w-50 p-1 main-btn" do %>
          <span class="mr-2 ">Table Of Contents</span><i class="fas fa-list-ol "></i>
        <% end %>
			</div>
		</div>
    
    <!-- 書籍封面 -->
		<div class="cover col-4 d-flex flex-column">
      <div class="mb-4">
        <%= render partial: "shared/frontend/book_cover", locals: {book: @book, size: :large} %>
      </div>
      <div class="completeness mt-auto">
        <div class="progress mx-auto mb-2"></div>
        <p class="text-center mb-0">This book is <%= @book.completeness %>% complete</p>
        <p class="text-center mb-0">COMPLETED ON <%= @book.updated_at.to_date %></p>
      </div>
		</div>

		<div class="col-4 d-flex flex-column">
      <!-- slider -->
      <%= render partial: "shared/frontend/price_slider", locals: {book: @book} %>

      <!-- 加入購物車按鈕 -->
      <div class="add-to-cart-price mt-auto">
        <span>YOU PAY</span>
        <span class="hint">(US$)</span>
        <%= form_with url: add_cart_path(@book.id), class: "add-cart-form" do |f| %>
          <%= f.text_field :cart_price, class: "cart-price text-center mt-1 mb-4" %>
          <%= f.submit "Add Ebook to Cart", class: "add-to-cart-btn btn btn-danger main-btn" %>
        <% end %>
      </div>

      <%# <%= link_to "Add to Wish List", "#", class: "add-to-wishlist" %>
		</div>
	</div>
</div>