<div class="book-show container txt d-flex flex-column" >
	<div class="book-show-item row">
    <div class="col-md-12 col-lg-8 d-flex row">
      <div class="cover d-flex flex-column px-4 col-md-12 col-lg-6">
        <!-- 書本封面 -->
        <div class="w-100 mb-4">
          <%= render partial: "shared/frontend/book_cover", locals: {book: @book, size: :large} %>
        </div>

        <!-- 完成度 -->
        <div class="completeness mt-auto">
          <div class="progress mx-auto mb-2"></div>
          <p class="text-center mb-0">This Book Is <%= @book.completeness %>% Complete</p>
          <p class="text-center mb-0">COMPLETED ON <%= @book.updated_at.to_date %></p>
        </div>

        <!-- 這本書的標籤 -->
        <div class="tags mt-2">
          <% @book.tag_items.each do |tag| %>
            <span class="tag btn px-4 mr-1 my-1"># <%= tag %></span>
          <% end %>
        </div>
      </div>

      <div class="info px-4 col-md-12 col-lg-6 d-flex flex-column">
        
        <!-- 標題與作者 -->
        <div class="book-info">
          <!-- 標題 -->
          <h1 class="title">
            <%= @book.title %>
          </h1>

          <!-- 作者 -->
          <div class="book-show-author d-flex align-items-center">
            <!-- 作者頭像 -->
            <div class="book-show-author-avatar">
              <%= render "shared/frontend/user_avatar", user: @book.authors[0] %>
            </div>

            <!-- 作者名稱 -->
            <div class="book-show-author-name ml-2">
              <%= link_to link_to @book.authors[0].name, users_profile_path(@book.authors[0].username), class:"txt" %>
            </div>
          </div>
        </div>

        <!-- 評分 -->
        <%= form_with model: @comment, url: "#", class: "comment-form" do |f| %>
          <div>
            <%= f.hidden_field :stars, id: "rating-input", min: "0", max: "5" %>
          </div>

          <div class="rating" role="optgroup">
            <% 1.upto(5) do |n| %>
              <i class="far fa-star fa-2x rating-star" id="rating-<%= n %>" data-rating="<%= n %>" tabindex="0" aria-label="Rate as one out of 5 stars" role="radio"></i>
            <% end %>
          </div>
        <% end %>

        <!-- 關於此書 -->
        <div class="about mt-4">
          <% if @book.about %>
            <%= @book.about %>
          <% else %>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga enim vitae, consequuntur asperiores, itaque beatae maxime cumque sapiente quae eius odit, autem corrupti quos ipsa amet non iusto eveniet expedita?
            </p>
          <% end %>
        </div>
      </div>
      
      <!-- 試閱 -->
      <div class="button-group col-12">
        <%= link_to sample_book_path(@book),class: "w-100" do %>
          <div class="btn btn-outline-secondary my-3">
            <span class="txt">Read Free Sample</span>
            <i class="far fa-file-pdf"></i>
          </div>
        <% end %> 

        <%= link_to table_of_contents_book_path(@book), class: "w-100" do %>
          <div class="btn btn-outline-secondary">
            <span class="txt "> Table Of Contents</span>
            <i class="fas fa-list-ol"></i>
          </div>
        <% end %>
      </div>

    </div>

    <!-- 購書區 -->
		<div class="shopping col-md-12 col-lg-4">
      <!-- slider -->
      <%= render partial: "shared/frontend/price_slider", locals: {book: @book, size: :large} %>
      
      <div class="add-to-cart-price mt-auto">
        <div class="d-flex flex-nowrap align-items-center">
          <h4 class="">You Paid </h4>
          <span class="hint"> （＄US DOLLAR ) </span>
        </div>
        

          <%= form_with url: add_cart_path(@book.id), class: "add-cart-form d-inline" do |f| %>
            <!-- 消費者須付金額-->
            <%= f.text_field :cart_price, class: "cart-price text-center my-1" %> 

            <!-- 加入購物車按鈕 -->
            <%= f.submit "ADD TO CART", class: "add-to-cart btn btn-primary" %>
          <% end %>
          
          <!-- 加入願望清單-->
          <button class="add-to-wishlist btn mt-2" data-controller="bookwish", data-action="bookwish#add" data-bookwish-id="<%= @book.id %>">
            <i class="far fa-heart fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
	</div>

  <!-- 我是分隔線 -->
  <hr class="w-100 my-5">

  <div class="row">
    <h3 class="col-12 mx-auto">Reader Testimonials</h3>
    <div class="row col-12">
      <% @comments.each do |comment| %>
        <div class="col-12 col-md-6 col-lg-4 text-center mt-5 p-5">
          <div class="avatar-container m-auto">
            <%= render "shared/frontend/user_avatar", user: comment.user %>
          </div>
          <div><%= comment.user.name %></div>
          <div><%= comment.content %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>