<% if current_user.avatar_data %>
  <%= current_user.avatar_url %>
<% else %>
  <div class="row justify-content-center">
    <div class="col-2">
    	<img src="https://conservation-innovations.org/wp-content/uploads/2019/09/Dummy-Person.png" style="width: 100%; border-radius: 50%;">
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <p class="col-2 text-center h3"><%= current_user.name %></p>
  </div>

  <div class="row justify-content-center">
    <p class="col-2 text-center h3"><%= current_user.about %></p>
  </div>

  <div class="row justify-content-center">
    <% current_user.pub_books.each do |book| %>
      <%= book.cover_url %>
      <%= book.title %>
      <%= book.authors[0].name %>
    <% end %>
  </div>
</div>