<section class="payment container">
  <h3>信用卡資訊</h3>
  <%= form_with(url: "/cart/checkout", method: "post", id: "payment_form", local: true) do%>
  <div id="dropin-container" data-token="<%= @token %>"></div>
  <input type="hidden" value="" id="nonce" name="nonce">

  <h3>Summary</h3>
  <table class="table table-hover"> 
    <thead>
      <tr> 
        <td>商品名稱</td> 
        <td>數量</td> 
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %> 
        <tr>
          <td>
            <%= item.book.title %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= item.price %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">總計</td>
        <td><%= current_cart.total_price %></td>
      <tr>
    </tfoot>
  </table>

  <button id="submit-button" class="btn btn-default btn-danger">付款</button>
  <% end %>
</section>
