<section class="cart-payment txt container" data-controller="checkout">

  <div class="d-flex justify-content-center my-4">
    <h3 class="summary col-12 col-md-10 d-flex justify-content-start">Summary</h3>
  </div>

  <div class="checkoutstage_checkout d-flex justify-content-center">
    <table class="col-12 col-md-10 table table-borderless"> 
      <div>
        <thead class="mb-5">
          <tr class="confirm-details-title"> 
            <td class="">Product</td> 
            <td class="text-right">Quantity</td> 
            <td class="text-right">Subtotal</td>
          </tr>
        </thead>
      </div>
      <tbody class="confirm-details-item">
        <% current_cart.items.each do |item| %> 
          <tr class="">
            <td style="font-size:large" class="font-weight-bold">
              <%= item.book.title %>
            </td>
            <td class="text-right">
              1
            </td>
            <td class="text-right">
              $<%= sprintf("%.2f", item.price) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="check-out d-flex justify-content-center mt-3">
    <div class="col-12 col-md-10 d-flex justify-content-end" >
      <span class="mx-5">Total</span>
      $<%= sprintf("%.2f", current_cart.total_price) %>
    </div>
  </div>
  <hr class="border-bottom border-white col-10">
  <div class="d-flex justify-content-center ">
    <h3 class="col-10 d-flex justify-content-start">Credit Card Info</h3>
  </div>
  
  <%= form_with url: "/cart/checkout", method: "post", id: "payment_form", local: true do%>
    <div class="d-flex justify-content-center">
      <div id="dropin-container" data-token="<%= @token %>" class="col-12 col-md-10"></div>
      <input type="hidden" value="" id="nonce" name="nonce">
    </div>
    <div class="d-flex justify-content-center mt-2">
      <div class=" d-flex justify-content-end col-10">
        <button id="submit-button" class="btn-primary btn col-12 col-md-3" data-target="checkout.pay">Pay</button>
        <button class="ml-auto btn btn-secondary w-25 x" disabled data-target="checkout.wait">Please wait...</button>
      </div>
    </div>
  <% end %>
</section>
