<section class="cart-payment">
<!--- header 是否要留?
  <div>
    <header class="checkout_header d-flex justify-content-center mb-5">
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Preview
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center bg-secondary">
        Checkout
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Settings & Download
      </div>
    </header>
  </div>
---> 
    <div class="d-flex justify-content-center my-4">
    <h3 class="w-75 d-flex justify-content-start">Summary</h3>
  </div>
  <div class="checkoutstage_checkout d-flex justify-content-center">
    <table class="w-75 table table-borderless"> 
      <thead class="mb-5">
        <tr class=""> 
          <td class="">商品名稱</td> 
          <td class="text-right">數量</td> 
          <td class="text-right">小計</td>
        </tr>
      </thead>
      <tbody>
        <% current_cart.items.each do |item| %> 
          <tr class="">
            <td style="font-size:large" class="font-weight-bold">
              <%= item.book.title %>
            </td>
            <td class="text-right">
              <%= item.quantity %>
            </td>
            <td class="text-right">
              <%= item.price %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="check-out d-flex justify-content-center mt-3 ">
    <div class="w-75 d-flex justify-content-end" >
      <span class="mx-5">總計</span>
      <%= current_cart.total_price %>
    </div>
  </div>
  <hr class="border-bottom border-white w-75">
  <div class="d-flex justify-content-center ">
    <h3 class="w-75 d-flex justify-content-start">信用卡資訊</h3>
  </div>
  
  <%= form_with(url: "/cart/checkout", method: "post", id: "payment_form", local: true) do%>
    <div class="d-flex justify-content-center">
      <div id="dropin-container" data-token="<%= @token %>" class="w-75"></div>
      <input type="hidden" value="" id="nonce" name="nonce">
    </div>
  <div class="d-flex justify-content-center mt-2">
    <div class=" d-flex justify-content-end w-75 ">
      <button id="submit-button" class="btn-danger main-btn btn w-25">付款</button>
    </div>
  </div>
  <% end %>
</section>
