<section class="cart-show container mt-5">
<!--- header 是否要留?
  <div>
    <header class="checkout_header d-flex justify-content-center mb-5">
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center bg-primary">
        Preview
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Checkout
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Settings & Download
      </div>
    </header>
  </div>
--->

  <div class="checkoutstage_review d-flex justify-content-center">
    <table class="table w-75">
      <thead class="txt">
        <tr class="row">
          <th class="col-2">商品</th>
          <th class="col-6"></th>
          <th class="col-2">數量</th>
          <th class="col-2">小計</th>
        </tr>
      </thead>
      <tbody>
      <% current_cart.items.each.with_index do |item, index| %>
        <tr class="row" data-controller="cart" data-cart-index="<%= index %>">
          <td class="col-2">
            <div style="font-size:large" class="font-weight-bold" >
              <%= render partial: "shared/frontend/book_cover", locals: {book: item.book, size: :small} %>
            </div>
          </td>
          <td class="col-6">
            <div style="font-size:large" class=" font-weight-bold" >
              <%= item.book.title %>
            </div>
            <div>
              <%= link_to "edit", "#", remote: true, data: {toggle: "modal", target: "#slider-modal"} %>
              <span class="mx-2">|</span>
              <a href="">Move to Wishlist</a>
              <span class="mx-2">|</span>
              <a href="" data-action="cart#delete">Delete</a>
            </div>
          </td>
          <td style="font-size: large" class="col-2">
            1
          </td>
          <td style="font-size: large" class="col-2">
          <%= item.price %>
          </td>
        </tr>

        <div id="slider-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="modal-body">
                <%= render partial: "shared/frontend/price_slider", locals: {book: item.book} %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
      </tbody>
    </table>
  </div>
    
  
  <div class="d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-end align-items-center">總計</div>
  </div>

  <div class="check-out d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-end align-items-center">
    	<%= current_cart.total_price %>
    </div>
  </div>

  
  <div class="d-flex justify-content-center mt-5">
    <div class="w-75 d-flex justify-content-between">
      <!-- 做出單向刪除功能後，一次清空購物車的按鈕可考慮刪除 --->
      <%= link_to "清空購物車", cart_path, method: :delete, class: " w-25 d-flex justify-content-center btn btn-danger" %>
      <%= link_to "結帳", payment_cart_path, class:" w-25 d-flex justify-content-center btn main-btn" %>
    </div>
  </div>
  
</section>

