<section class="cart-show container mt-4">
<!--- header 是否要留?
  <div>
    <header class="checkout_header d-flex justify-content-center mb-5">
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center bg-primary">
        Preview
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Checkout
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Settings & Download
      </div>
    </header>
  </div>
--->

  <div class="checkoutstage_review col-10 container d-flex justify-content-center ">
    <table id="cart-items" class="table">
      <thead class="txt d-none d-md-block">
        <tr class="row text-center">
          <th class="col-2">商品</th>
          <th class="col-6"></th>
          <th class="col-2">數量</th>
          <th class="col-2">小計</th>
        </tr>
      </thead>

      <tbody>
        <% current_cart.items.each.with_index do |item, index| %>
          <tr class="row text-center" data-controller="cart" data-cart-index="<%= index %>" data-cart-book="<%= item.book.id %>">
            <td class="col-12 col-md-2">
              <div style="font-size:large" class="font-weight-bold" >
                <%= link_to book_path(item.book), data: {target: "cart.cover"} do %>
                  <%= render partial: "shared/frontend/book_cover", locals: {book: item.book, size: :small} %>
                <% end %>
              </div>
            </td>
            <td class="col-12 col-md-6">
              <div style="font-size:large" class="font-weight-bold mb-2" >
                <%= link_to item.book.title, book_path(item.book) %>
              </div>
              <div>
                <button class="item-edit border-0 bg-transparent" data-action="cart#edit">edit</button>
                <span class="mx-1">|</span>
                <button class="border-0 bg-transparent" data-controller="cartwish" data-action="cartwish#add" data-cartwish-id="<%= item.book.id %>" data-cartwish-index="<%= index %>">Move to Wishlist</button>
                <span class="mx-1">|</span>
                <button class="border-0 bg-transparent" data-action="cart#delete">Delete</button>
              </div>
            </td>

            <td style="font-size: large" class="col-12 col-md-2">
              1
            </td>
            <td style="font-size: large" class="col-12 col-md-2">
            $<%= sprintf("%.2f", item.price) %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>
    
  
  <div class="d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-end align-items-center">總計</div>
  </div>

  <div class="check-out d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-end align-items-center">
    	$<%= sprintf("%.2f", current_cart.total_price) %>
    </div>
  </div>

  
  <div class="d-flex justify-content-center my-5">
    <div class="col-10 d-flex justify-content-between">
      <!-- 做出單向刪除功能後，一次清空購物車的按鈕可考慮刪除 --->
      <%#= link_to "清空購物車", cart_path, method: :delete, class: " w-25 d-flex justify-content-center btn btn-danger" %>
      <%= link_to "結帳", payment_cart_path, class:"ml-auto w-25 d-flex justify-content-center btn main-btn" %>
    </div>
  </div>
  
</section>



