
<%# <%= link_to "清空購物車", cart_path, method: :delete, class: "btn btn-default btn-danger" %> 

<section>
  <div>
    <header class="checkout_header flex justify-center text-xl mb-4">
      <div style="width:20%" class=" h-12 mb-4 flex justify-center text-white bg-blue-500">
        <p class="self-center">Preview</p>
      </div>
      <div style="width:20%" class=" h-12 mb-4 flex justify-center text-gray-400 border border-gray-300">
        <p class="self-center">Checkout</p>
      </div>
      <div style="width:20%" class=" h-12 mb-4 flex justify-center text-gray-400 border border-gray-300">
        <p class="self-center">Settings & Download</p>
      </div>
    </header>
  </div>

  <div class="checkoutstage_review flex justify-center">
    <table class="table w-3/5">
      <thead class="text-gray-600">
        <tr>
          <th>商品</th>
          <th></th>
          <th>數量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% current_cart.items.each do |item| %>
        <tr>
          <td>
            <div></div>
          </td>
          <td>
            <%= item.book.title %>
            <div class="text-sm">
              <a href="">edit</a>
              <span class="mx-2">|</span>
              <a href="">Move to Wishlist</a>
              <span class="mx-2">|</span>
              <a href="">Delete</a>
            </div>
          </td>
          <td>
          <%= item.quantity %>
          </td>
          <td>
          <%= item.book.price %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
    
  
  <div class="w-4/5 flex justify-end ml- mt-10">
    <span>總計</span>
  </div>
  <div class="w-4/5 flex justify-end ml- text-3xl">
    <%= current_cart.total_price %>
  </div>

  <button class="w-4/5 flex justify-end ml- mt-10">
    <%= link_to "結帳", books_path, class: "w-24 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded" %>
  </button>

</section>

