<section class="cart-show container mt-5">
<!--- header 是否要留?
  <div>
    <header class="checkout_header d-flex justify-content-center mb-5">
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center bg-primary">
        Preview
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Checkout
      </div>
      <div class="py-2 border w-25 d-flex justify-content-center align-items-center">
        Settings & Download
      </div>
    </header>
  </div>
--->

  <div class="checkoutstage_review d-flex justify-content-center">
    <table class="table w-75">
      <thead class="txt">
        <tr>
          <th>商品</th>
          <th></th>
          <th>數量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% current_cart.items.each do |item| %>
        <tr>
          <td>
            <div></div>
          </td>
          <td>
            <div style="font-size:large" class="font-weight-bold txt" >
              <%= item.book.title %>
            </div>
            <div>
              <a href="" class="txt">Edit</a>
              <span class="mx-2">|</span>
              <a href="" class="txt">Move to Wishlist</a>
              <span class="mx-2">|</span>
              <a href="" class="txt">Delete</a>
            </div>
          </td>
          <td style="font-size: large" class="txt">
          <%= item.quantity %>
          </td>
          <td style="font-size: large" class="txt">
          <%= item.price %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
    
  
  <div class="d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-end align-items-center">總計</div>
  </div>

  <div class="check-out d-flex justify-content-center">
    <div class="w-75 d-flex justify-content-end align-items-center">
    	<%= current_cart.total_price %>
    </div>
  </div>

  
  <div class="d-flex justify-content-center mt-5">
    <div class="w-75 d-flex justify-content-between">
      <!-- 做出單向刪除功能後，一次清空購物車的按鈕可考慮刪除 --->
      <%= link_to "清空購物車", cart_path, method: :delete, class: " w-25 d-flex justify-content-center btn btn-danger" %>
      <%= link_to "結帳", payment_cart_path, class:" w-25 d-flex justify-content-center btn main-btn" %>
    </div>
  </div>
  
</section>

