<section class="container flex justify-center my-5">
  <div>
    <h2 class="font-light text-2xl">Sign in</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-2 font-light">
    <%= f.label :email %><br />
      <div class="border-2 border-gray-400">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    
    <div class="mb-2 font-light">
    <%= f.label :password %><br />
      <div class="border-2 border-gray-400">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    
    <% if devise_mapping.rememberable? %>
    <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    </div>
    <% end %>

    <p>
      This site is protected by reCAPTCHA and the Google<br/>  <a href="#">Privacy Policy</a> and  <a href="#">Terms of Service</a> apply.
    </p>
    
    <div class="actions">
    <%= f.submit "Sign in" %>
    </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>
