<section class="sign-in container flex justify-center my-5">
  <div>
    <h2 class="font-light text-2xl mb-3">Sign in</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-2 font-light">
    <%= f.label :email %><br />
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-2 border-gray-400 w-full" %>
      </div>
    </div>
    
    <div class="mb-2 font-light">
    <%= f.label :password %><br />
      <div>
        <%= f.password_field :password, autocomplete: "current-password", class: "border-2 border-gray-400 w-full" %>
      </div>
    </div>
    
    <% if devise_mapping.rememberable? %>
    <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    </div>
    <% end %>

    <p>
      This site is protected by reCAPTCHA and the Google<br/>  <a href="#" class="text-blue-500">Privacy Policy</a> and  <a href="#" class="text-blue-500">Terms of Service</a> apply.
    </p>
    
    <%= f.submit "Sign In", class: "col-2 btn btn-danger main-button border-0"%>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>
