<section class="sign-in container my-5">
  <div class="w-50 mx-auto">
    <h3 class="font-weight-light">Sign in</h3>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col mb-3"%> 
    <div class="w-100"></div>

    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"col mb-3" %>
    
    <% if devise_mapping.rememberable? %>
    <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    </div>
    <% end %>

    <p>
      This site is protected by reCAPTCHA and the Google<br/>  <a href="#" class="">Privacy Policy</a> and  <a href="#" class="">Terms of Service</a> apply.
    </p>
    
    <%= f.submit "Sign In", class: "col-4 btn btn-danger main-button border-0"%>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</section>
