<% books.each do |book| %>
  <div class="pubbook-item w-100 p-0">
    <div class="w-100">
      <%= render partial: "shared/frontend/book_cover", locals: {book: book, size: :small} %>
    </div>
    <p class="text-center">
      <%= link_to book.title, book_path(book.id), class:"title" %>
    </p>
    <div class="text-center">
      <%= link_to edit_book_path(book) do %>
        <i class="fas fa-cog icon"></i>
      <% end %>
      <% if has_published?(book) %>
        <button class="off-shelf btn btn-primary" data-bookid="<%= book.slug %>">Unpublish</button>
      <% else %>
        <button class="on-shelf btn btn-primary" data-bookid="<%= book.slug %>">Publish</button>
      <% end %>
      <%= link_to editor_edit_book_path(book) do %>
        <i class="fas fa-edit icon"></i>
      <% end %>
    </div>
  </div>
<% end %>