<section class="author-publishing container">
  <div class="row">
    <div class="author-avatar col-2 d-flex flex-column">
      <div>
        <%= render "shared/frontend/user_avatar", user: current_user %>
      </div>
      <p class="text-center"><%= current_user.name %></p>
      <%= button_to "Create a Book", :new_book, method: :get, class: "btn btn-primary w-100" %>
    </div>
    
    <div class="author-books col-10">
      <h2>Your Books</h2>
      <div>
        <p>You can edit your books by clicking on the <i class="fas fa-cog"></i>. <br> You can also choose which books show up on your profile page by using the <i class="far fa-eye"></i>.
        <h5>Published (<%= published_books.count %>)</h5>
        <div class="publish-book row">
          <%= render "books", books: published_books %>
        </div>
        <h5>Unpublished (<%= unpublish_books.count %>)</h5>
        <div class="unpublish-book row">
          <%= render "books", books: unpublish_books %>
        </div>
      </div>
    </div>
  </div>
</section>




