<section class="author-publishing container">
  <div class="row">
    <div class="author-about col-12 d-lg-flex">
      <div class="avatar col-8 col-md-4 col-lg-3 ">
        <div class="img-box col-12 col-lg-8 mx-auto">
          <%= render "shared/frontend/user_avatar", user: current_user %>
          <p class="text-center"><%= current_user.name %></p>
        </div>
        <div class="new-book-button col-12 col-lg-10 m-auto">
          <%= button_to "Create a Book", :new_book, method: :get, class: "btn main-button txt w-100" %>
        </div>
      </div>
    </div>
    <div class="all-books justify-content-center col-12 col-md-6 col-lg-9">
      <div class="author-all-books  col-12 col-md-6 col-lg-9 p-0">
        <div class="all-book-info col-12 col-md-6 col-lg-9">
          <h2>Your Books</h2>
          <div>
            <p class="col-8 col-md-4 col-lg-3 ">You can edit your books by clicking on the <i class="fas fa-cog"></i>.</p>
          </div>
        </div>
      </div>
      <div class="row m-0 col-12">
        <h4 class="col-12 title">Published Books(<%= published_books.count %>)</h4>
        <div class="publish-book col-12 row justify-content-between">
          <%= render "books", books: published_books %>
        </div>
        <h4>Unpublished Books(<%= unpublish_books.count %>)</h4>
        <div class="unpublish-book col-12 row justify-content-between">
          <%= render "books", books: unpublish_books %>
        </div>
      </div>
    </div>
  </div>
</section>




