<section class="author-publishing container">
  <div class="row">
    <div class="author-about col-10 col-lg-3 d-lg-flex">
      <div class="avatar col-8 col-lg-12 ">
        <div class="img-box col-12 col-lg-8 mx-auto">
          <%= render "shared/frontend/user_avatar", user: current_user %>
          <p class="text-center"><%= current_user.name %></p>
        </div>
        <div class="new-book-button col-12 col-lg-8 m-auto">
          <%= button_to "Create a Book", :new_book, method: :get, class: "btn btn-primary txt w-100"%>
        </div>
      </div>
    </div>
    <div class="all-books justify-content-center col-12 col-md-6 col-lg-9">
      <div class="author-all-books col-12 col-md-6 col-lg-12 ">
        <div class="all-book-info col-12 col-md-6 col-lg-12">
          <h2>Your Books</h2>
          <div>
            <p class="col-8 col-lg-12">You can edit your books by clicking on the <i class="fas fa-cog"></i>.</p>
          </div>
        </div>
      </div>
      <div class="m-0 col-12">
        <div class="publish_grop">
          <h4 class="col-12 title">Published Books(<%= published_books.count %>)</h4>
          <div class="publish-book col-6 col-lg-12 row">
            <%= render "books", books: published_books %>
          </div>
        </div>
        <div class="unpublish-grop">
          <h4 class="col-12 title">Unpublished Books(<%= unpublish_books.count %>)</h4>
          <div class="unpublish-book col-6 col-lg-12 row">
            <%= render "books", books: unpublish_books %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




